@model IEnumerable<Sucursal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idSucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idSucursal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
     
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.idSucursal }) |
            
            @Html.ActionLink("Eliminar", "Delete", new {  id=item.idSucursal  }) |

            @Html.ActionLink("Ordenes de Pago", "ListarOrdenPago", new { id = item.idSucursal })
        </td>
    </tr>
}

</table>
